// colors
$primary-color: #4C426D;
$secondary-color: #0D73D0;
$text-color: #333;

// $primary-gradient: linear-gradient(#{$primary-color}, #{$secondary-color});


// fonts
$primary-font: 'Helvetica', 'Arial', sans-serif;
